<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ScoresConnectionString" connectionString="Data Source=C501A14;Initial Catalog=Scores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="教務系統ConnectionString" connectionString="Data Source=C501A14;Initial Catalog=教務系統;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
