.hwJumBack {
    background-image: url('../images/002.jpg');
    background-repeat: repeat;
    background-position-y: -55px;
}



.hwJumBack h1,.hwJumBack .h1 {
    color:white;
    font-family:微軟正黑體;
    text-shadow:5px 5px 5px black;
    font-weight:900;
}

.hwJumBack p {
    color:white;
    font-family:微軟正黑體;
    text-shadow:2px 2px 4px black;
    font-weight:900;
    font-size:30pt;
}

.hwJumBack  .btn{
    color:white;
    font-family:微軟正黑體;
    text-shadow:2px 2px 3px black;
    font-weight:900;
    font-size:16pt;
}